<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>My Bio Card</title>
</head>
<body>

<div class="card">
  <img src="static/images/mountain.jpeg" alt="John">
  <h1>Alex Brown</h1>
  <p class="title">Senior Developer</p>
    <hr>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
</div>
</body>
</html>